*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

main
{
    margin: 2vh;    
}
body
{
    background-color: rgb(239, 243, 176);
}

#header-img
{
    background-color: rgb(189, 222, 135);
    width: 3vh;
    height: auto;    
    border-radius: 10%;
    overflow: hidden;
    margin-top: 5px;
    margin-right: 20px;
    float: right;
       
}
#nav-bar
{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(189, 222, 135);
}
.nav-link
{  
    float: right;
    font-size: 2.5vh;
    padding: 5px;    
}
.nav-bar-ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#about
{
    margin-top: 15vh;
    padding-bottom: 1vh;
    scroll-margin-top: 15vh;    
}

#tea
{
    margin-top: 5vh; 
    padding-bottom: 1vh;   
    scroll-margin-top: 14vh;    
}

.video-container
{
    display: flex;     
    width: 40vh;
}
#video-h3
{
    margin-top: 5vh;    
    scroll-margin-top: 14vh;        
}
.video-container > div
{
   margin-top: 2vh;
   padding: 2vh;
}

footer
{
    background-color: rgb(189, 222, 135);
    width: 100%;
}
.email
{    
    text-align: center;
    padding: 3vh;
}
.btn
{
    cursor: pointer;
}

@media screen and (max-width: 1000px)
{
    .video-container
{
    display: flex;
    flex-wrap:wrap;          
    width: 40vh;
}
}